<div class="row">
        <?php
        if($this->formData->id == '')
            $form->setAttribute('action', $this->url('add-product'))->setAttribute('id','add_form');
        else
            $form->setAttribute('action', $this->url('edit-product', array('id'=>$this->formData->id)))->setAttribute('id','add_form');

        $form->prepare();
        echo $this->form()->openTag($form);
        
        if($this->formData->id != '')
        {
                echo $this->formRow($form->get('id')->setAttribute('class','form-control')->setAttribute('value',$this->formData->id));
        } ?>
        <div class="box_data">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="col-lg-7 col-md-10 col-sm-12 col-xs-12"><?php echo $this->translate('Product name'); ?> <em>*</em></label>
                        <label class="col-lg-7 col-md-10 col-sm-12 col-xs-12">
                        <?php
                                if($this->formData->product_name != '')
                                        echo $this->formRow($form->get('product_name')->setAttribute('value',$this->formData->product_name)->setAttribute('class','form-control'));
                                else
                                        echo $this->formRow($form->get('product_name')->setAttribute('class','form-control'));
                                ?>
                        </label>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="col-lg-7 col-md-10 col-sm-12 col-xs-12"><?php echo $this->translate('Product image');?></label>
                        <label class="col-lg-7 col-md-10 col-sm-12 col-xs-12 browse-btn">
                                <?php echo $this->formRow($form->get('image_name')->setAttribute('class','form-control')); ?>
                                
                        </label>
                        <span class="help-text col-lg-12 col-md-12 col-sm-12 col-xs-12"><?php echo $this->translate(' Allowed image format: jpeg, jpg, png'); ?></span>
                        
                        <?php
                        if(isset($this->imageError) && count($this->imageError)>0)
                        {
                                foreach($this->imageError as $value)
                                {
                                        ?>
                                        <label class="error">
                                                <?php echo $value; ?>
                                        </label>
                                        <?php
                                }
                        }
                        ?>
                        <?php
                        if($this->formData->image_name != NULL )
                        { ?>
                        <label id="img_label" class="col-lg-7 col-md-10 col-sm-12 col-xs-12 browse-btn">
                                <img src=".././images/products/<?= $this->formData->image_name; ?>" width="100" />
                        </label>
                        <?php } ?>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="col-lg-7 col-md-10 col-sm-12 col-xs-12"><?php echo $this->translate('Product description'); ?> <em>*</em></label>
                        <label class="col-lg-7 col-md-10 col-sm-12 col-xs-12 radio-status">
                                <?php
                                if($this->formData->product_description != '')
                                        echo $this->formRow($form->get('product_description')->setAttribute('value',$this->formData->product_description)->setAttribute('class','form-control'));
                                else
                                        echo $this->formRow($form->get('product_description')->setAttribute('class','form-control'));
                                ?>
                        </label>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="col-lg-7 col-md-10 col-sm-12 col-xs-12"><?php echo $this->translate('Select category'); ?> <em>*</em></label>
                        <label class="col-lg-7 col-md-10 col-sm-12 col-xs-12 radio-status">
                                <?php
                                if($this->formData->category_id != '')
                                        echo $this->formRow($form->get('category_id')->setValue($this->formData->category_id)->setAttribute('class','form-control'));
                                else
                                        echo $this->formRow($form->get('category_id')->setAttribute('class','form-control'));
                                ?>
                        </label>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <section class="mybtns col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a class='btn btn-white fixedbtn' href="<?php echo $this->url('product'); ?>"><?php echo $this->translate('Cancel'); ?></a>
                                <?php echo $this->formRow($form->get('submit')->setAttribute('class','btn btn-primary fixedbtn')); ?>
                        </section>
                </div>
        </div>
 </div>
<script>
        jQuery(document).ready(function(){
                jQuery('#add_form').validate({
                        rules:{
                                product_name:{
                                        required:true,
                                        minlength:3,
                                        maxlength:30
                                },
                                category_id:{
                                        required:true
                                },
                                product_description:{
                                        required:true,
                                        minlength:5
                                },
                                image_name:{
                                        extension: "jpg|jpeg|png"
                                }
                        },
                        messages:{
                                product_name:{
                                        required:'Please enter product name',
                                        minlength:'Please enter atleast 3 characters',
                                        maxlength:'Please enter at most 30 characters'
                                },
                                category_id:{
                                        required:'Please select a category'
                                },
                                product_description:{
                                        required:'Please enter description',
                                        minlength:'Please enter atleast 3 characters'
                                },
                                image_name:{
                                        extension:'Please select valid image'
                                }
                        }
                });
        });
</script>