<script>		
	$(document).ready(function(){
		$('#yes_delete').on('click',function() {
			var product_id = $("#multiDelete").val();
			if (product_id != '') {
				$.ajax({
					type: "POST",
					cache: false,
					async: false,
					dataType: 'json',
					url: "delete-multi-product?debug=1",
					data: {
						'multi': product_id
					},
					success: function(responseText) {
						window.location.href = 'product';
					}
				});
			}
		});		
		$('#no_delete').on('click',function() {
			tb_remove();
		});	   
	});
</script>
<div class="mybtns delete-popup">
	<input type="hidden" id="delete_id" value="<?php echo $this->id; ?>" />
	<p><?php echo $this->translate('Are you sure you want to delete multiple products?'); ?>. </p>
	<button id="yes_delete" class="btn fixedbtn btn-primary"><?php echo $this->translate('Yes'); ?></button>
	<button id="no_delete" class="btn fixedbtn btn-white"><?php echo $this->translate('No'); ?></button>
</div>




