<?php
$urlNow = '';
if($this->searchKey != '')
{
    $urlNow .= '&search='.$this->searchKey;
}
if($this->page != '')
{
    $urlNow .= '&page='.$this->page;
} ?>
<div>Product management</div>
<?php
if( $messages != '')
    { ?>
    <div class="alert alert-success"><?php echo $this->translate($messages[0]); ?></div>
    <?php }
    elseif( $errorMessages != '')
    { ?>
    <div class="alert alert-danger"><?php echo $this->translate($errorMessages[0]); ?></div>
    <?php }
    
    ?>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="<?php echo $this->url('add-product');?>" class="btn btn-primary"><?php echo $this->translate('Add product'); ?></a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="<?php echo $this->url('add-category-cache');?>" class="btn btn-primary"><?php echo $this->translate('Add data to cache'); ?></a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="<?php echo $this->url('clear-cache');?>" class="btn btn-primary"><?php echo $this->translate('Clear cache'); ?></a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><a href="<?php echo $this->url('show-cache');?>" class="btn btn-primary thickbox"><?php echo $this->translate('Show cache'); ?></a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 deleteProduct"><a href="<?php echo $this->url('delete-multi-product').'?width=300&height=200';?>" class="btn btn-primary thickbox" id="deleteIds"><?php echo $this->translate('Delete products'); ?></a></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <?php if($this->showSearch){ ?>
            <form class="text-right" action="<?php echo $this->url('product'); ?>" name='searchGridForm' id="searchGridForm" method="get" >
                <label class="left">
                    <input class="form-control" type="text" placeholder="<?php echo $this->translate('Search product name'); ?>" name="search" value="<?php  if(isset($searchKey)) echo $searchKey ; ?>">
                    <select class="form-control" name="category">
                        <?php
                        
                        foreach($categories as $key => $value)
                        { ?>
                        <option <?php if($category_name == $key){ echo 'selected'; } ?> value="<?= $key; ?>"><?= $value; ?></option>
                        <?php } ?>
                    </select>
                </label>
                <input class="btn btn-primary fixedbtn" type="submit" value="<?php echo $this->translate('Search'); ?>"/>
                <input class="btn btn-white fixedbtn" type="reset" value="<?php echo $this->translate('Reset'); ?>" onclick="javascript:window.location.href='<?php echo $this->url("product");  ?>' " />
            </form>
        <?php }?>
    </div>
 </div>
<input type="hidden" id="multiDelete" />
<table class="table table-striped table-bordered table-hover dataTables-example dataTable" >
    <thead>
        <tr>
            <th class="sorting_disabled srlno"><input type="checkbox" id="checkAll" /></th>
            <?php
            foreach($fields as $field)
            {
                if($field['visible'] == 1)
                {
                    $sortType = 'sorting';
                    ?>
                    <?php
                    if($field['fieldName'] == $searchCol  && $searchOrder == "DESC")  
                    {
                      $sortType = 'sorting_desc';
                      
                    }
                    elseif($field['fieldName'] == $searchCol  && $searchOrder == "ASC")  
                    {
                       $sortType = 'sorting_asc';
                       
                      
                    }
                    elseif($field['fieldName'] == 'banner_modified' && $searchCol == '') 
                    {
                        $sortType = 'sorting_desc';
                    }   
                            ?>
                    <th class="<?php echo $sortType; ?>"><?php
                    if($field['sorting']==1){
                        if($field['fieldName'] != $searchCol )
                        {
                            $defaultSortOrder = 'ASC';
                        }
                        else
                        {
                            if($searchOrder == 'ASC')
                                $defaultSortOrder = 'DESC';
                            else
                                $defaultSortOrder = 'ASC';
                        }
                      ?>
                        <a href="<?php echo $this->url('product').'?sort='.$field['fieldName'].'&order='.$defaultSortOrder.$urlNow; ?>">
                            <?php echo $this->translate($field['label']); ?>
                        </a>
                      
                  <?php
                  }
                  else
                  {
                      echo $this->translate($field['label']);
                  }
                  ?></th>
                  <?php
                }
            }
            ?>
             <th class="sorting_disabled fixcol"><?php echo $this->translate('Action'); ?></th>
         </tr>
    </thead>
    <tbody>
        <?php
        if(count($paginator) > 0)
        {
            $counter = $this->serialNumber;
            foreach ($paginator as $products)
              {  ?>
                <tr>
                   <td><input type="checkbox" class="checkBoxes" id="delete_<?= $products->id; ?>" /></td>
                   <?php
                   foreach($fields as $newdata)
                   {
                       if($newdata['visible'] == 1)
                       {
                       ?>
                           <td>
                           <?php
                            if($products->$newdata['fieldName'] == '' && $newdata['fieldName'] != 'created_date')
                            {
                                echo $this->translate('Image not uploaded');
                            }
                            else if($products->$newdata['fieldName'] == '' && $newdata['fieldName'] == 'created_date')
                            {
                                echo $this->translate('Date not updated');
                            }
                            else if($newdata['fieldName'] == 'image_name')
                            {
                                ?>
                                <img src="./images/products/<?= $products->$newdata['fieldName']; ?>" width='100' />
                                <?php
                            }
                            else
                            {
                                if($newdata['fieldName'] == 'created_date')
                                {
                                    echo $this->escapeHtml(date('d-m-Y', $products->$newdata['fieldName']));
                                }
                                else
                                {
                                    echo $this->translate($this->escapeHtml($products->$newdata['fieldName']));
                                }
                            }
                            ?>
                            </td>
                        <?php
                        }
                    } ?>
                    <td class="action-img">
                        <a href="<?php echo $this->url('edit-product',array('id' => $products->id));?>">
                            <img border="0px" title="Edit" src="<?php echo $this->basePath(); ?>/img/edit.png">
                        </a>
                        <a class="thickbox" href="<?php echo $this->url('delete-product',array('id' => $products->id)).'?height=100&width=400';?>">
                            <img border="0px" title="Delete" src="<?php echo $this->basePath(); ?>/img/delete.gif">
                        </a>
                    </td>
                </tr>
                <?php $counter++;
            }
            ?>
            <?php
        } else { ?>
        <tr><td colspan="6"><div class="alert alert-info"><?php echo "No Record Found."; ?></div></td></tr>
    <?php } ?>
    </tbody>
</table>
<script>
    jQuery(document).ready(function(){
        jQuery('.deleteProduct').hide();
        var checkBoxes = jQuery('.checkBoxes').length;
        jQuery('#checkAll').click(function(){
            if( jQuery('#checkAll:checked').length >0 )
            {
                jQuery('input[type=checkbox]').prop('checked',true);
            }
            else
            {
                jQuery('input[type=checkbox]').prop('checked',false);
            }
        });
        jQuery('.checkBoxes').click(function(){
            if (checkBoxes > jQuery('.checkBoxes:checked').length) {
                jQuery('#checkAll').prop('checked',false);
            }
            else if(checkBoxes == jQuery('.checkBoxes:checked').length) {
                jQuery('#checkAll').prop('checked',true);
            }
        });
        jQuery('input[type=checkbox]').click(function(){
            var appendVal = '';
            if (jQuery('input[type=checkbox]:checked').length > 0) {
                jQuery('.deleteProduct').show();
                jQuery('.checkBoxes:checked').each(function(){
                    var thisId = jQuery(this).attr('id');
                    thisId = thisId.split('_');
                    if (appendVal == '') {
                        appendVal = thisId[1];
                    }
                    else{
                        appendVal += ','+thisId[1];
                    }
                });
                jQuery('#multiDelete').val(appendVal);
            }
            else
            {
                jQuery('.deleteProduct').hide();
                jQuery('#multiDelete').val('');
            }
        });
    });
</script>
<?php
echo $this->paginationControl(
    $this->paginator,
    'sliding',
    'partial/paginator.phtml',
    array(
        'route' => 'product',
        'searchKey' => $searchKey ,
        'searchCol' => $searchCol,
        'searchOrder' => $searchOrder,
        'category'=>$category
    )
);
?>